language: python

install:
- sudo add-apt-repository -y ppa:libreoffice/ppa
- sudo apt-get install libreoffice -y

script:
- /usr/lib/libreoffice/program/scalc --convert-to pdf:writer_pdf_Export Astronav-Formular-Mond_Planeten.ods
- /usr/lib/libreoffice/program/scalc --convert-to pdf:writer_pdf_Export Astronav-Formular-Sonne.ods

deploy:
  provider: releases
  api_key: "GITHUB OAUTH TOKEN"
  file_glob: true
  file: "*.pdf"
  skip_cleanup: true
  on:
    tags: true
